.blink_text {

	animation:1s blinker linear infinite;
	-webkit-animation:1s blinker linear infinite;
	-moz-animation:1s blinker linear infinite;

	color: red;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

article.t {
	margin-top: 10em
}

div.cl {
	background-color: black;
	padding: .5em;
}

#models {
	/*width: 50%; */
	height: 35em;
	overflow-y: scroll;
}